html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
    background: linear-gradient(180deg, rgba(120, 166, 209, 0.20) 2.27%, rgba(255, 255, 255, 0.20) 29.1%);
    width: 100%;
}

.header {
    width: 100%;
    max-width: 1440px; /* Menjaga lebar maksimum tapi tetap responsif */
    padding-top: 60px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 0px;
    justify-content: center;
    align-items: center;
    gap: 600px;
    display: flex;
}

.header img {
    width: 100%;
    max-width: 300px; /* Menjaga lebar maksimum tapi tetap responsif */
    height: auto; /* Menjaga rasio aspek */
}

.header .nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header .nav .masuk {
    display: flex;
    width: 118px;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header .nav .masuk a {
    text-decoration: none;
    display: flex;
    width: 76px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header .nav .daftar {
    display: flex;
    width: 118px;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #2564AD;
}

.header .nav .daftar a {
    text-decoration: none;
    display: flex;
    width: 76px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFFDFD;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.content h2 {
    padding: 0 187px;
    width: 100%;
    max-width: 1116px; /* Menjaga lebar maksimum tapi tetap responsif */
    color: #003584;
    text-align: center;
    font-family: Syne;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.content p {
    color: #003584;
    text-align: center;
    font-family: Syne;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content .lanjut {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
}

.content .lanjut .daftar {
    display: flex;
    width: 118px;
    height: 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #2564AD;
}

.content .lanjut .daftar a {
    text-decoration: none;
    display: flex;
    width: 76px;
    height: 27px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #FFFDFD;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content .lanjut p {
    color: #000;
    text-align: center;
    font-family: Syne;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content .lanjut a {
    text-decoration: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content2 {
    display: flex;
    padding: 0px 88px;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.content2 .selamat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.content2 .selamat p {
    color: #5D86A3;
    text-align: center;
    font-family: "Space Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content2 .selamat h2 {
    display: flex;
    width: 100%;
    max-width: 598px; /* Menjaga lebar maksimum tapi tetap responsif */
    height: auto; /* Menjaga rasio aspek */
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content2 img {
    width: 100%;
    max-width: 666px; /* Menjaga lebar maksimum tapi tetap responsif */
    height: auto; /* Menjaga rasio aspek */
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.tentang {
    display: flex;
    padding: 0px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.tentang h2 {
    color: #5D86A3;
    text-align: center;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tentang .deskripsi {
    display: flex;
    align-items: flex-start;
    gap: 160px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
}

.tentang .deskripsi p {
    display: flex;
    width: 100%;
    max-width: 480px; /* Menjaga lebar maksimum tapi tetap responsif */
    height: auto; /* Menjaga rasio aspek */
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fitur {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 54px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.fitur .h2 {
    display: flex;
    padding: 0px 0;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
}

.fitur h2 {
    color: #000;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fitur .isi {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
}

.fitur .isi img {
    width: 100%;
    max-width: 640px; /* Menjaga lebar maksimum tapi tetap responsif */
    height: auto; /* Menjaga rasio aspek */
}

.fitur .isi .deskripsi {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
    width: 100%;
    max-width: 588px; /* Menjaga lebar maksimum tapi tetap responsif */
}

.fitur .isi .deskripsi p {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer {
    display: flex;
    padding: 32px 218px;
    width: 100%;
    max-width: 1100px; /* Menjaga lebar maksimum tapi tetap responsif */
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    background: #81ACD4;
}

.footer .content {
    display: flex;
    align-items: flex-start;
    gap: 318px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.footer .content .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer .content .list p {
    width: 100%;
    max-width: 96px; /* Menjaga lebar maksimum tapi tetap responsif */
    color: #FFFDFD;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer .copyright {
    display: flex;
    align-items: center;
    gap: 531px;
    width: 100%;
    max-width: 1200px; /* Menjaga lebar maksimum tapi tetap responsif */
    margin: 0 auto;
}

.footer .copyright p {
    width: 100%;
    max-width: 401px; /* Menjaga lebar maksimum tapi tetap responsif */
    color: #FFFDFD;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer .isi {
    width: 100%;
    max-width: 401px; /* Menjaga lebar maksimum tapi tetap responsif */
    color: #FFFDFD;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer .logo {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
